{%extends 'layout.html'%}
{%load static%}

{%block content%}
    <div class="jumbotron">
        <h1 class = "display-2">Welcome</h1>
        <p class="lead">This is a simple quiz template</p>
        <hr class="my-4">
        <p>Created by using Django and MongoDB</p>
    </div>
    {%if user.is_authenticated%}
        Hello, {{user.get_username}}
    {%else%}
        <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-header"><a href="{%url 'login'%}" class="btn btn-primary">Login</a></div>
                    <div class="card-text">Log in and run the quiz</div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-header"><a href="{%url 'register'%}" class="btn btn-warning">Register</a></div>
                    <div class="card-text">Register to run the quiz</div>
                    
                </div>
            </div>
        </div>
        </div>
    {%endif%}
    
    
{%endblock%}